[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate"]

[start]
cmd = "npx prisma db push && npx tsx prisma/seed.ts && npx tsx src/server.ts"
